/*navbar section*/
.navigation{
    background-color: darkcyan;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    padding-top: 10px;
}
.nav-logo{
    height: auto;
    width: 200px;
    margin-right: 40px;
    display: inline-block;
}
.nav-button{
    display: inline-block;
    padding: 20px;
    margin-left:2px;
    margin-right:2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color .5s;
}
.nav-button.active{
    display: inline-block;
    padding: 20px;
    background-color: azure;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left:2px;
    margin-right:2px;
}
.nav-button.active>a{
    color: black;
}

.nav-button:hover{
    display: inline-block;
    padding: 20px;
    background-color: azure;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left:2px;
    margin-right:2px;
}
.nav-button>a{
    text-decoration: none;
    color: white;
}
.nav-button:hover>a{
    text-decoration: none;
    color: black;
}


/*body section*/
body{
    background-color: dimgrey;
}
.page{
    background-color: azure;
    width:80%;
    margin-top: -16px;
    margin-left: 10%;
    margin-right: 10%;
}

/*footer section*/
.footer{
    background-color: darkcyan;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    padding-bottom: 10px;
}
.footer>p{
    color: white;
    margin: 30px;
}

/*elements*/
.page button{
    background-color: darkcyan;
    border-radius: 20px;
    padding: 10px;
    font-weight: 900;
    color: white;
    transition: background-color 0.5s;
}
.page button:hover{
    background-color: chocolate;
    border-radius: 20px;
    padding: 10px;
    font-weight: 900;
    color: white;
}

.panel-translucent{
    background-size: cover;
    width: 80%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0%,0%,0%,.5);
}